/* frontend/src/index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #F9FAFB; /* Nền trắng xám nhẹ */
  color: #333;
}